DATABASE_URL=
RAILRADAR_API_KEY=

CRON_SECRET=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Keep false in production.
# Temporarily set true only when manually testing FCM.
ENABLE_TEST_NOTIFICATIONS=false